/* Ensure the navbar is completely transparent */
.menu--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent; /* Set background to transparent */
  padding: 20px 80px;
  box-shadow: none; /* Remove the shadow for a transparent look */
}

.company--logo {
  display: flex;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Remove bullet points from the list */
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

/* Configure nav-link styles */
#navbar li .nav-link,
#navbar li button.nav-link {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: white; /* Adjust color as needed for readability */
  transition: 0.3s ease-in-out;
  background: none; /* Remove background color */
  border: none; /* Remove border */
  cursor: pointer; /* Add cursor pointer */
}

/* Configure the hover color */
#navbar li .nav-link:hover,
#navbar li button.nav-link:hover {
  color: rgb(11, 138, 43); /* Adjust hover color */
}

/* Underline on hover */
#navbar li .nav-link:hover::after,
#navbar li button.nav-link:hover::after {
  content: "";
  width: 60%;
  height: 2px;
  background: rgb(11, 138, 43); /* Adjust underline color */
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Mobile styles */
#mobile {
  display: none;
}

#mobile i {
  color: white;
  align-items: center;
}

@media screen and (max-width: 769px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 73px;
    right: -300px;
    width: 150px;
    height: 40vh;
    background: rgba(
      45,
      53,
      62,
      0.9
    ); /* Semi-transparent background for mobile */
    box-shadow: none; /* Remove shadow for mobile */
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
